<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authentication.Mapper.RefreshTokenMapper">
    <resultMap id="RefreshTokenResultMap" type="com.authentication.Model.RefreshToken" >
        <result column="refreshTokenId" property="refreshTokenId" jdbcType="VARCHAR" />
        <result column="refreshToken" property="refreshToken" jdbcType="VARCHAR" />
        <result column="isUsed" property="isUsed" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="RefreshTokenFamilyResultMap" type="com.authentication.Model.RefreshTokenFamily" >
        <result column="refreshTokenId" property="refreshTokenId" jdbcType="VARCHAR" />
        <result column="familyId" property="familyId" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getIsUsed" resultType="java.lang.Integer">
        SELECT isUsed
        FROM RefreshTokenInfo
        where refreshTokenId = #{refreshTokenId}
    </select>

    <select id="getFamilyTokenId" resultType="java.lang.String">
        SELECT familyId
        FROM RefreshTokenFamily
        where refreshTokenId = #{refreshTokenId}
    </select>

    <update id = "setIsUsed">
        update
        RefreshTokenInfo
        set isUsed = #{isUsed}
        where refreshTokenId = #{refreshTokenId}
    </update>

    <update id = "setIsUsedByFamilyId">
        update
        RefreshTokenInfo
        set isUsed = #{isUsed}
        inner join
        RefreshTokenFamily family
        on
        RefreshTokenInfo.refreshTokenId = family.familyId;
    </update>

    <insert id = "insertRefreshToken" parameterType = "com.authentication.Model.RefreshToken">
        insert
        into RefreshTokenInfo (refreshTokenId, refreshToken, isUsed)
        values (#{refreshTokenId}, #{refreshToken}, #{isUsed})
    </insert>

    <insert id = "insertFamilyRefreshToken" parameterType = "com.authentication.Model.RefreshTokenFamily">
        insert
        into RefreshTokenFamily (refreshTokenId, familyId)
        values (#{refreshTokenId}, #{familyId})
    </insert>

    <select id="getRefreshId" resultType="java.lang.String">
        SELECT refreshTokenId
        FROM RefreshTokenInfo
        where refreshToken = #{refreshToken}
    </select>


</mapper>